* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

header {
    position: absolute;
    width: 70vh;
    margin: auto;
    top: 40px;
    left: 0;
    right: 0;
}

.my-btn {
    width: 100px;
    height: 35px;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 20px;
    font-family: 'Recursive', sans-serif;
    background-color: rgba(61, 131, 156, 0.8);
    color: white;
    outline: none;
}

.my-btn:hover {
    background-color: rgba(61, 131, 156, 1.0);
    transform: scale(1.03);
}

#resize {
    float: right;
}

.grid-container {
    display: grid;
    position: relative; 
    margin: auto;
    top: 110px; 
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid lightgray;
    width: 80vh;
    height: 80vh;
}

.grid-square-style {
    border: 1px solid lightgray;
}

.random-color {
    background-color: blue;
}